section {
  text-align: center;
}
.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 50px auto;
}
.box {
  width: 100px;
  height: 100px;
  border: 1px solid #333333;
  cursor: pointer;
  font-size: 60px;
}